{% extends 'index.html' %}
{% block extra_js %} 
{% endblock %}
{% block content %}
  <table class="table" id="school-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>       
        {% comment %} <th>Action</th> {% endcomment %}
      </tr>
    </thead>
    <tbody>
       {% for school in schools %}
         <tr>
          <td>{{ school.id }}</td>
          <td>{{ school.name }}</td>
          <td>{{ school.address }}</td>
          <td>{{ school.email }}</td>       
        </tr> 
        {% endfor %}    
    </tbody>
  </table>
  <table class="table" id="school-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Year</th>
        <th>Month</th>
        <th>Week</th>
        <th>Electricity(kWH)</th>
        <th>Electricity(Euro)</th>
        <th>Heating(kWH)</th>
        <th>Heating(Euro)</th>
        <th>Water(Litures)</th>
        <th>Water(Euro)</th>
        {% comment %} <th>Action</th> {% endcomment %}
      </tr>
    </thead>
    <tbody>
       {% for schooldata in schooldatas %}
         <tr>
          <td>{{ schooldata.id }}</td>
          {% comment %} <td>{{ schooldata.school }}</td> {% endcomment %}
          <td>{{ schooldata.year }}</td>
          <td>{{ schooldata.month }}</td>
          <td>{{ schooldata.week }}</td>
          <td>{{ schooldata.ele_k }}</td>
          <td>{{ schooldata.ele_u }}</td>
          <td>{{ schooldata.hea_k }}</td>
          <td>{{ schooldata.hea_u }}</td>
          <td>{{ schooldata.wat_l }}</td>
          <td>{{ schooldata.wat_u }}</td>
          </tr>
        {% endfor %}     
    </tbody>
  </table>
{% endblock %}