{% load staticfiles %}
 <!DOCTYPE html> 
   {% block html %}
   <html lang="en">
    {% block head %}
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content=""> 
            {% block title %}{% endblock %}
            <link rel="icon" href="../../../../favicon.ico">
            <title>SchoolPPP</title>
            <!-- Bootstrap core CSS -->
            <link href="../static/css/bootstrap.min.css" rel="stylesheet">
            <!-- Custom styles for this template -->
            <link href="../static/assets/style.css" rel="stylesheet">
            <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css"> 
            {% block extra_css %}{% endblock %}
    </head>
    {% endblock %} 
    <body>
        {% block nav %}
            <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><h5>SchoolPPP</h5></a>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="#">Sign out</a>
                </li>
            </ul>
            </nav>
        {% endblock %} 
            <div class="container-fluid">
              <div class="row">                
                 <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <span data-feather="home">SchoolManagement</span>
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-user"></i>
                                    <span data-feather="file"></span>
                                    User
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="shopping-cart"><i class="fa fa-tasks"></i></span>
                                    Add School
                                </a>
                            </li>                   
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="users"><i class="fa fa-file"></i></span>
                                    Save Data
                                </a>
                            </li>                        
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span>Saved School</span>
                                    <a class="d-flex align-items-center text-muted" href="#">
                                    <span data-feather="plus-circle"></span>
                                </a>
                            </h6>
                            
                            <ul class="nav flex-column mb-2">
                                <li class="nav-item">
                                    <a class="nav-link" a href="/school/show">
                                        <span data-feather="file-text">  {schoolname}</span>
                                    </a>
                                </li>
                            </ul>
                            
                    </div>
                 </nav>                  
                 <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                 
                    <h6 class="h6">School Data</h6>
                    {% block content %}{% endblock %}
               
               </main>
              </div>
            </div>   
         {% block javaextra} 
         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
         <script>
         window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
         </script>
         <script src="../static/js/popper.min.js"></script>
         <script src="../static/js/bootstrap.min.js"></script>
         <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
         {% endblock %}
   </body>
  </html>


