{% extends 'index.html' %}
{% load static %}
{% block javaextra %} 
{% endblock %}
{% block extra_css %}
{% endblock %}
{% block content %}
<form method="POST" class="post-form" action="/update/{{employee.id}}">
  {% csrf_token %}
  <div class="container">
    <br>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label"></label>
      <div class="col-sm-4">
        <h3>Update School</h3>
      </div>
    </div>   
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Year:</label>
      <div class="col-sm-4">
        <input type="text" name="year" id="id_year" required maxlength="100" value="{{ schooldata.year }}" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Month:</label>
      <div class="col-sm-4">
        <input type="email" name="month" id="id_month" required maxlength="254" value="{{ schooldata.month }}" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Week:</label>
      <div class="col-sm-4">
        <input type="email" name="week" id="id_week" required maxlength="254" value="{{ schooldata.week }}" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Electricity(kWH):</label>
      <div class="col-sm-4">
        <input type="email" name="ele_k" id="id_ele_k" required maxlength="254" value="{{schooldata.ele_k }}" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Electricity(Euro):</label>
      <div class="col-sm-4">
        <input type="email" name="ele_u" id="id_ele_u" required maxlength="254" value="{{schooldata.ele_u  }}" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Heating(kWH):</label>
      <div class="col-sm-4">
        <input type="email" name="hea_k" id="id_hea_k" required maxlength="254" value="{{schooldata.hea_k }}" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Heating(Euro):</label>
      <div class="col-sm-4">
        <input type="email" name="hea_u" id="id_hea_u" required maxlength="254" value="{{  schooldata.hea_u }}" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Water(Litres):</label>
      <div class="col-sm-4">
        <input type="email" name="wat_l" id="id_wat_l" required maxlength="254" value="{{ schooldata.wat_l  }}" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Water(Euro):</label>
      <div class="col-sm-4">
        <input type="email" name="wat_u" id="id_wat_u" required maxlength="254" value="{{ schooldata.wat_u }}" />
      </div>
    </div>
    
    <div class="form-group row">
      <label class="col-sm-1 col-form-label"></label>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}