{% extends 'index.html' %}
{% load static %}
{% block extra_css %}
{% endblock %}
{% block content %}
  <table class="table" id="book-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Year</th>
        <th>Month</th>
        <th>Week</th>
        <th>Electricity(kWH)</th>
        <th>Electricity(Euro)</th>
        <th>Heating(kWH)</th>
        <th>Heating(Euro)</th>
        <th>Water(Litures)</th>
        <th>Water(Euro)</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
       {% for schooldata in schooldatas %}
         <tr>
          <td>{{ schooldata.id }}</td>
          <td>{{ schooldata.school_id }}</td>
          <td>{{ schooldata.year }}</td>
          <td>{{ schooldata.month }}</td>
          <td>{{ schooldata.week }}</td>
          <td>{{ schooldata.ele_k }}</td>
          <td>{{ schooldata.ele_u }}</td>
          <td>{{ schooldata.hea_k }}</td>
          <td>{{ schooldata.hea_u }}</td>
          <td>{{ schooldata.wat_l }}</td>
          <td>{{ schooldata.wat_u }}</td>
          <td>         
            <a href="/school/edit/{{schooldata.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/school/delete/{{ schooldata.id }}">Delete</a>          
          </td>
        </tr>
       {% empty %}
        <tr>
          <td colspan="7" class="text-center bg-warning"></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}